[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Alfonso Gonzalez Garcia (dramagods)
[access "refs/for/refs/*"]
	read = group user/Alfonso Gonzalez Garcia (dramagods)
	push = group user/Alfonso Gonzalez Garcia (dramagods)
	label-Code-Review = -2..+2 group user/Alfonso Gonzalez Garcia (dramagods)
	label-Verified = -1..+1 group user/Alfonso Gonzalez Garcia (dramagods)
	rebase = group user/Alfonso Gonzalez Garcia (dramagods)
	removeReviewer = group user/Alfonso Gonzalez Garcia (dramagods)
	submit = group user/Alfonso Gonzalez Garcia (dramagods)
[access "refs/heads/*"]
	read = group user/Alfonso Gonzalez Garcia (dramagods)
	create = group user/Alfonso Gonzalez Garcia (dramagods)
	push = +force group user/Alfonso Gonzalez Garcia (dramagods)
	pushMerge = group user/Alfonso Gonzalez Garcia (dramagods)
[access "refs/tags/*"]
	push = +force group user/Alfonso Gonzalez Garcia (dramagods)
	pushTag = group user/Alfonso Gonzalez Garcia (dramagods)
	pushSignedTag = group user/Alfonso Gonzalez Garcia (dramagods)
